/* Minimal form reset, as suggested by Rachel Andrew */

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0; margin: 0;
}

textarea {
  overflow: auto;
}

/* General form styles */

form  {
  font-size:  1.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

fieldset {
  margin: 0 auto 40px;
  padding: 40px 20px;
  width: 70%;
  max-width: 900px;
}

legend {
  color: black;
  background-color: #ccc;
  padding: 5px 20px;
  text-shadow: 1px 1px 3px black;
}

fieldset div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

label {
  margin-right: 20px;
  max-width: 150px;
  width: 40%;
  text-align: right;
}

input, select {
  flex: auto;
  background: linear-gradient(to bottom, white, white 40%, #ccc);
  padding: 5px;
  width: 40%;
}

input:focus {
  box-shadow: inset 1px 1px 5px black;
}

input[type="submit"] {
  width: 50%;
  margin-bottom: 40px;
}

fieldset div:last-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

/* styling the items list */

.latest ul {
  padding-left: 0;
  list-style-type: none;
}

.latest ul li {
  display: flex;
  align-items: center;
}

.latest img {
  width: 75px;
  height: 75px;
  max-width: 100%;
}

.latest li p:nth-child(1) {
  width: 75px;
  margin-right: 20px;
}

.latest li p:nth-child(2) {
  flex: 1;
}

.latest li p:nth-child(3) {
  width: 30px;
  margin-left: 20px;
}

.price:before, .total span:before, .postage-cost span:before {
  content: "£";
  font-size: 1.2rem;
}

/* Hack the payment buttons  */

#paymentButtons {
  max-width: 70%;
  margin: 0 auto;
}

#paymentButtons p, #paymentButtons button {
  margin: 20px 0;
}

.paypal-button {
  height: 50px !important;
}


/* narrow screen adjustments */

@media(max-width: 800px) {
  fieldset, section ul {
    width: 85%;
  }

  .latest ul {
    margin: 0 auto;
  }

  label {
    width: 35%;
  }

  input[type="submit"] {
    width: 80%;
  }

  .body-content {
    margin-right: 0;
  }
}
