/* Minimal form reset, as suggested by Rachel Andrew */

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0; margin: 0;
}

textarea {
  overflow: auto;
}

/* General form styles */

form  {
  font-size:  1.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

fieldset {
  margin-bottom: 40px;
  padding: 40px 20px;
  width: 70%;
  min-width: 420px;
  max-width: 900px;
}

legend {
  color: black;
  background-color: #ccc;
  padding: 5px 20px;
  text-shadow: 1px 1px 3px black;
}

fieldset div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

label {
  margin-right: 20px;
  max-width: 150px;
  width: 40%;
  text-align: right;
}

input, select {
  flex: 1;
  background: linear-gradient(to bottom, white, white 40%, #ccc);
  padding: 5px;
}

input:focus {
  box-shadow: inset 1px 1px 5px black;
}

input[type="submit"] {
  width: 50%;
  margin-bottom: 40px;
}

fieldset div:last-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

/* styling the items list */

.latest ul {
  padding-left: 0;
  list-style-type: none;
}

.latest img {
  width: 75px;
  height: 75px;
  flex: 0 auto;
  padding-right: 30px;
}

.latest div {
  flex: 1;
}

.latest ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.total, .postage-cost {
  justify-content: flex-start;
  padding-left: 105px;
}

.price:before, .total span:before, .postage-cost span:before {
  content: "£";
  font-size: 1.2rem;
}


/* narrow screen adjustments */

@media(max-width: 800px) {
  fieldset, section ul {
    width: 90%;
  }

  .latest ul {
    margin: 0 auto;
  }

  input[type="submit"] {
    width: 80%;
  }

  .body-content {
    margin-right: 0;
  }
}
